<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Em có iu a khum</title>
    <link rel="stylesheet" type="text/css" href="/css/heart.css">
</head>
<body>
    <main>
        <section>
            <div>
                <h1>Anh iu em</h1>
                <p>hehe</p>
            </div>
        </section>
    </main>
    <script src="/javascript/heart.js" type="text/javascript"></script>
</body>
</html>